body { background-color:#fbf4ed; color:#2B303A; font-family:'Roboto', sans-serif; font-weight:300; }
h1, h2, h3 { font-family:'Barlow', sans-serif; font-weight:normal; margin:16px auto; }
h1 { font-size:48px; }
h2 { font-size:36px; }
h3 { font-size:30px; }
h4 { font-size:16px; font-weight:300; margin:16px 0 12px; }
p { line-height:1.6; font-size:18px; margin:16px auto 24px; }
a { color:#2A6AEA; text-decoration:none; }
a:hover { color:#2A6AEA; text-decoration:underline;
  -webkit-transition:color ease-out 0.5s;
  transition:color ease-out 0.5s;
}
img { max-width:100%; }

header { background-color:#fff; left:0; position:fixed; right:0; top:0; z-index:100; }
nav { margin:0 auto; max-width:1000px; padding:16px 32px; }
.nav-brand { font-size:18px; font-weight:500; }
.nav-right { float:right; }
.nav-right a { font-size:16px; padding:0 0 0 24px; }

.wrapper { margin:0 auto; max-width:720px; padding:0 32px; }

.intro { border-bottom:2px solid #2A6AEA; margin-bottom:130px; padding:150px 0 130px; position:relative; }
.intro-icon { background-color:#fbf4ed; border:2px solid #2A6AEA; border-radius:50%; height:96px; left:50%; position:absolute; top:100%; transform:translate(-50%, -50%); width:96px; }
.intro-icon img { position:absolute; height:60px; left:50%; top:50%; transform:translate(-50%, -50%); }

.experience { margin:0 auto 96px; max-width:460px; }
.experience__description { font-size:18px; text-align:justify; }
.experience__image { box-shadow:8px 8px 0 0 #fff; margin:8px auto; min-width:200px; width:50%; }
.experience__image--wide { width:75%; }
.caption { color:#aaacb0; font-size:14px; font-style:italic; margin:0 8px 32px; }
.role { font-size:16px; font-style:italic; line-height:1; }
.episode-list { line-height:22px; list-style:none; font-size:18px; margin:8px 0; padding-left:0; }
.episode-list li { background-image:url("play.svg"); background-repeat:no-repeat; background-size:20px; background-position:top left; margin-bottom:12px; padding:0 0 0 32px; }

.contact { border-top:2px solid #2A6AEA; padding:64px 0 96px; }
.social-list { list-style:none; font-size:18px; padding:0; }
.social-list li { padding:8px 0 16px; }
.social-list p { margin:0; }
.social img { margin:0 12px -6px 0; vertical-align:bottom; width:32px; }

.about { margin:0 auto; max-width:520px; padding:96px 0 150px; }
.about__pic { border:2px solid #2A6AEA; border-radius: 50%; margin:24px 0; max-width:200px; }

@media (max-width:1000px) {
  nav { max-width:100%; }
}
@media (max-width:768px) {
  h1 { font-size:36px; }
}
